In [1]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
import pandas as pd
import numpy as np

In [2]:
df = pd.DataFrame(pd.read_csv('./loan_approval_dataset.csv'))
df.head()
df.drop('loan_id', axis=1)

,no_of_dependents,education,self_employed,income_annum,loan_amount,loan_term,cibil_score,residential_assets_value,commercial_assets_value,luxury_assets_value,bank_asset_value,loan_status
0,2,Graduate,No,9600000,29900000,12,778,2400000,17600000,22700000,8000000,Approved
1,0,Not Graduate,Yes,4100000,12200000,8,417,2700000,2200000,8800000,3300000,Rejected
2,3,Graduate,No,9100000,29700000,20,506,7100000,4500000,33300000,12800000,Rejected
3,3,Graduate,No,8200000,30700000,8,467,18200000,3300000,23300000,7900000,Rejected
4,5,Not Graduate,Yes,9800000,24200000,20,382,12400000,8200000,29400000,5000000,Rejected
...,...,...,...,...,...,...,...,...,...,...,...,...
4264,5,Graduate,Yes,1000000,2300000,12,317,2800000,500000,3300000,800000,Rejected
4265,0,Not Graduate,Yes,3300000,11300000,20,559,4200000,2900000,11000000,1900000,Approved
4266,2,Not Graduate,No,6500000,23900000,18,457,1200000,12400000,18100000,7300000,Rejected
4267,1,Not Graduate,No,4100000,12800000,8,780,8200000,700000,14100000,5800000,Approved
4268,1,Graduate,No,9200000,29700000,10,607,17800000,11800000,35700000,12000000,Approved

In [ ]:
df[' education'] = df[' education'].replace({' Graduate':1,' Not Graduate':0})
df[' self_employed'] = df[' self_employed'].replace({' No':0,' Yes':1})
df[' loan_status'] = df[' loan_status'].replace({' Approved':1, ' Rejected':0})

In [ ]:
df.columns

features1 = [' no_of_dependents', ' education', ' self_employed',
       ' income_annum', ' loan_amount', ' loan_term', ' cibil_score',
       ' residential_assets_value', ' commercial_assets_value',
       ' luxury_assets_value', ' bank_asset_value']

target = [' loan_status']

In [ ]:
x1 = df[features1]
y1 = df[target]

x1= df[features1].copy()
y1 = df[target].copy()

x_train, x_test, y_train, y_test = train_test_split(x1, y1, test_size=0.2, random_state=42)

x_train[' education'] = x_train[' education'].replace({' Graduate':1,' Not Graduate':0}).astype(int)
x_train[' self_employed'] = x_train[' self_employed'].replace({' No':0,' Yes':1}).astype(int)

x_test[' education'] = x_test[' education'].replace({' Graduate':1,' Not Graduate':0}).astype(int)
x_test[' self_employed'] = x_test[' self_employed'].replace({' No':0,' Yes':1}).astype(int)

y_train[' loan_status'] = y_train[' loan_status'].replace({' Approved':1, ' Rejected':0}).astype(int)
y_test[' loan_status'] = y_test[' loan_status'].replace({' Approved':1, ' Rejected':0}).astype(int)

In [ ]:
x_train, x_test, y_train, y_test = train_test_split(x1, y1, test_size=0.2, random_state=42)

In [ ]:
model = KNeighborsClassifier(n_neighbors=11)
model.fit(x_train, y_train)
y_pred = model.predict(x_test)

In [ ]:
score = model.score(x_test, y_test)
print("Model Score:", score)

In [ ]:
new_loan = pd.DataFrame({
    ' no_of_dependents': [2],
    ' education': [1],
    ' self_employed': [0],
    ' income_annum': [5000000],
    ' loan_amount': [10000],
    ' loan_term': [10],
    ' cibil_score': [700],
    ' residential_assets_value': [1000000],
    ' commercial_assets_value': [500000],
    ' luxury_assets_value': [2000000],
    ' bank_asset_value': [1000000]
})

In [ ]:
approve_or_not = model.predict(new_loan)
print("Predicted approve orr not:", approve_or_not)

if approve_or_not == 1:
  print("Loan Approved")
else:
  print("Loan Rejected")